global

default 
  mode http

frontend gitlab.kds4wexp1.ru
  bind :80
  bind :443 /gitlab.crt
  default_backend gitlab
  http-request redirect scheme https unless { ssl_fc }

backend gitlab
  server s1 10.0.1.12:80 check